html, body {
    background-color: #35495e;
    color: #eee;
}
.app{
    display: block;
    text-align: center;
}
.count{
    font-size: 3rem;
    font-weight: 600;
}
button {
    background-color: #41b883;
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: snow;
    margin: 0 .5rem;
    border-radius: .5rem;
}
button:hover {
    cursor: pointer;
    background-color: #379c6f;
}